.project.title {
  text-align: center;
  margin: 0 0 2rem 0;
}

.project-subtitle {
  color: var(--color-text);
  font-style: italic;
  font-size: 22px;
  margin: 10px 0 20px 0;
  letter-spacing: 2px;
  text-align: center !important;
  width: 50vw !important;
}

.project-detail-container {
  height: 100%;
  width: 100vw;
  padding: 40px;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
}

.project-detail-description {
  text-align: left;
  width: 80vw;
}

.project-large-image-container {
  width: 60vw;
  margin: 1rem 0 2.25rem 0;
}

.project-square-image-container {
  width: 30vw;
  margin: 1rem 0 2.25rem 0;
}

.project-image {
  width: 100%;
  border-radius: 8px;
}

.project-small-img-container {
  justify-content: space-around;
  width: 60vw;
  margin: 1rem 0 2.25rem 0;
}

.project-image-small {
  width: 320px;
  border-radius: 8px;
}

.vimeo-embed-container {
  width: 60vw;
  margin: 1rem 0 2.25rem 0;
}

.vimeo-iframe{
  width: 100%;
  height: calc(60vw/1.77);
}

@media screen and (max-width: 1140px) {
  .project-image-small {
    width: 20vw;
  }
}

@media screen and (max-width: 810px) {
  .project-large-image-container,
  .project-small-img-container,
  .project-square-image-container,
  .vimeo-embed-container,
  iframe {
    width: 80vw;
    /* height: 300px; */
  }

  .vimeo-iframe{
    height: calc(80vw/1.77);
  }

  .project-image-small {
    width: 30vw;
  }
}
